<header>
    <div class="header_main_content">
        <h1 class="logo_content">
            <a routerLink="/home">
                <img src="./assets/kerketi.png" alt="">
            </a>
        </h1>
        <div class="nav_content">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/about">რა არის კერკეტი</a>
                    </li>
                    <li>
                        <a routerLink="/instruction">როგორ მუშაობს</a>
                    </li>
                    <li>
                        <a routerLink="/rules">სისტემის წესები</a>
                    </li>
                    <li>
                        <a routerLink="/contact">კონტაქტი</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>