<main>
    <div class="rules__container info__container">   
        <div class="rules__box info__box">
            <h2>სისტემის წესები</h2>
            <article>
                <p>კერკეტი მარტივია: რეგისტრირდებით → ავსებთ საფულეს → სარგებლობთ</p>
                <p>საფულის შევსება შესაძლებელია: გადახდის აპარატებით, კერკეტის აგენტებთან, პლასტიკური ბარათით, კერკეტის სხვა მომხმარებლის მიერ გაკეთებული ჩარიცხვით, საერთაშორისო გადარიცხვის მიღებით, საბანკო გადარიცხვით საფულიდან თანხის განაღდება შეგიძლიათ კერკეტის აგენტების ფართო ქსელში
                 <br>   კერკეტი მუშაობს ყველა ქართულ მობილურ ქსელში და ყველა მოდელის მობილურ ტელეფონზე sms-ბრძანებების გამოყენებით</p>
                <p>თუ თქვენს ტელეფონს აქვს Java-მხარდაჭერა, შეგიძლიათ მარტივად ჩამოტვირთოთ Java-აპლიკაცია, რაც კერკეტის გამოყენებას უფრო მოსახერხებელს გახდის თუ გაქვთ სმარტფონი (Android, IPhone, Windows Mobile, Blackberry), უახლოეს მომავალში შემოგთავაზებთ შესაბამის Smart-აპლიკაციას. მანამდე გთხოვთ ისარგებლოთ sms-ბრძანებებით</p>
            </article>
        </div>
        
    </div>
</main>