<main>
    <div class="about__container info__container">   
        <div class="about__box info__box">
            <h2>რა არის კერკეტი</h2>
            <article>
                <p>კერკეტი არის მობილური საფულე - მობილური ტელეფონის მეშვეობით ფულის გაგზავნის და გადახდის სერვისი</p>
                <p>კერკეტის ხიბლი იმაშია რომ ნებისმიერი გადარიცხვა ან გადახდა მობილური ტელეფონით ხდება, ნებისმიერ დროს და ნებისმიერი ადგილიდან - სადაც კი მობილური "იჭერს". კერკეტით სარგებლობისთვის არ გჭირდებათ ინტერნეტი ან საბანკო ანგარიში</p>
                <p>კერკეტით შეგიძლიათ: მიიღოთ ან გააგზავნოთ ფული ნებისმიერ მობილურ ნომერზე; განახორციელოთ სხვადასხვა გადახდები; შეავსოთ ნებისმიერი მობილური ტელეფონის ბალანსი; მიიღოთ გზავნილები უცხოეთიდან; გადაცვალოთ ვალუტა, და მიიღოთ მრავალი სხვა მომსახურება და სარგებელი</p>
                <p>კერკეტი მუშაობს ყველა ქართულ მობილურ ქსელში და ყველა მობილური ტელეფონის მოდელზე</p>
                <p>კერკეტით სარგებლობა არის სწრაფი, კომფორტული და უსაფრთხო</p>
            </article>
        </div>
    </div>
</main>