<main>
    <div class="instruction__container info__container">   
        <div class="instruction__box info__box">
            <h2>კონტაქტი</h2>
            <article>
                <p>ცხელი ხაზი: (032) 22 91122</p>
                <p>ელ.ფოსტა: info@kerketi.ge</p>
                <p>www.facebook.com/kerketi</p>
                <p>Skype: kerketi.ge</p>
                <p>ჩვენი მისამართია:</p>
                <p>ს.ს. “მობაილ ფაინენს სერვის – ჯორჯია”</p>
                <p>საქართველო, თბილისი – 0102, კოტე მარჯანიშვილის ქუჩა N 5</p>
            </article>
        </div>
        
    </div>
</main>