<div class="auth__main__container">
    <div class="auth__common__container">
        <div class="auth__content">
            <div class="auth__main__content">
                <div class="auth__title">
                    <h2>ავტორიზაცია</h2>
                </div>
                <div class="form__container">
                    <form>
                        <div class="mobile__input">
                            <div class="label__container">
                                <label for="username" id="usernameLabel"> მობილური</label>
                            </div>
                            <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="მომხმარებლის მობილურის ნომერი">
                        </div>
                        <div class="password__input">
                            <div class="label__container">
                                <label for="password" id="passwordLabel"> პაროლი</label>
                            </div>
                            <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="პაროლი">
                        </div>
                        <div class="forgot__password">
                            <div>
                                <a href="#">დაგავიწყდა პაროლი?</a>
                            </div>
                        </div>
                        <div class="login__container red__button">
                            <button type="button" (click)="login()" >შესვლა</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right__banner">
            <div class="auth__form__container">
                <div class="forgot__pass__content">
                    <div class="regiter__user">
                        <h4>არ ხართ დარეგისტრირებული?</h4>
                        <div class="register__button red__button">
                            <button [disabled]="buttonState">რეგისტრაცია</button>
                        </div>
                    </div>
                </div>
                <div class="download__content">
                    <div class="download__info">
                        <p>ისარგებლეთ კერკეტის განახლებული <span class="marked">მობაილ ბანკით</span></p>
                        <p>
                            გადმოწერეთ <i><a href="">IOS</a></i> და <i><a href="">Android</a></i>
                        </p>
                        <div class="system__image">
                            <div class="app-store__container">
                                <img src="./assets/app-store.png" alt="">
                            </div>
                            <div class="google-play__container">
                                <img src="./assets/google-play.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>